//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// 마우스 이동 속도 (기본값: 600)

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000    // 더 빠르게

// 스크롤 속도 (기본값: 10)

#define ZMK_POINTING_DEFAULT_SCRL_VAL 30      // 더 빠르게

/ {
    combos {
        compatible = "zmk,combos";

        enterjkl {
            bindings = <&kp ENTER>;
            key-positions = <16 17 18>;
        };

        copy {
            bindings = <&kp LC(C)>;
            key-positions = <22 23>;
        };

        paste {
            bindings = <&kp LC(V)>;
            key-positions = <23 24>;
        };

        cut {
            bindings = <&kp LC(X)>;
            key-positions = <22 24>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <11 12 13>;
        };

        leftbraket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <6 7>;
        };

        rightbraket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <8 7>;
        };

        leftparen {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <16 17>;
        };

        rightparen {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <17 18>;
        };

        leftbrace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <27 28>;
        };

        rightbrace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <28 29>;
        };

        rightalt {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <16 18>;
        };
    };

    behaviors {
        tap_preferred: tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREFERRED";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            quick-tap-ms = <200>;
            require-prior-idle-ms = <200>;
        };

        rgui_1_f1: rgui_1_f1 {
            compatible = "zmk,behavior-mod-morph";
            label = "RGUI_1_F1";
            bindings = <&kp NUMBER_1>, <&kp F1>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        rgui_2_f2: rgui_2_f2 {
            compatible = "zmk,behavior-mod-morph";
            label = "RGUI_2_F2";
            bindings = <&kp NUMBER_2>, <&kp F2>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        rgui_3_f3: rgui_3_f3 {
            compatible = "zmk,behavior-mod-morph";
            label = "RGUI_3_F3";
            bindings = <&kp NUMBER_3>, <&kp F3>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        rgui_4_f4: rgui_4_f4 {
            compatible = "zmk,behavior-mod-morph";
            label = "RGUI_4_F4";
            bindings = <&kp NUMBER_4>, <&kp F4>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        rgui_5_f5: rgui_5_f5 {
            compatible = "zmk,behavior-mod-morph";
            label = "RGUI_5_F5";
            bindings = <&kp NUMBER_5>, <&kp F5>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        rgui_6_f6: rgui_6_f6 {
            compatible = "zmk,behavior-mod-morph";
            label = "RGUI_6_F6";
            bindings = <&kp NUMBER_6>, <&kp F6>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        rgui_7_f7: rgui_7_f7 {
            compatible = "zmk,behavior-mod-morph";
            label = "RGUI_7_F7";
            bindings = <&kp NUMBER_7>, <&kp F7>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        rgui_8_f8: rgui_8_f8 {
            compatible = "zmk,behavior-mod-morph";
            label = "RGUI_8_F8";
            bindings = <&kp NUMBER_8>, <&kp F8>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        rgui_9_f9: rgui_9_f9 {
            compatible = "zmk,behavior-mod-morph";
            label = "RGUI_9_F9";
            bindings = <&kp NUMBER_9>, <&kp F9>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        rgui_10_f10: rgui_10_f10 {
            compatible = "zmk,behavior-mod-morph";
            label = "RGUI_10_F10";
            bindings = <&kp MINUS>, <&kp F10>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        rgui_11_f11: rgui_11_f11 {
            compatible = "zmk,behavior-mod-morph";
            label = "RGUI_11_F11";
            bindings = <&kp PLUS>, <&kp F11>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        rgui_12_f12: rgui_12_f12 {
            compatible = "zmk,behavior-mod-morph";
            label = "RGUI_12_F12";
            bindings = <&kp ASTERISK>, <&kp F12>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        tap_preferred_mo: tap_preferred_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREFERRED_MO";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            quick-tap-ms = <200>;
            require-prior-idle-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
                           &kp Q                      &kp W                      &kp E                          &kp R                        &kp T    &kp Y      &kp U                    &kp I                          &kp O                      &kp P
                           &tap_preferred LEFT_GUI A  &tap_preferred LEFT_ALT S  &tap_preferred LEFT_CONTROL D  &tap_preferred LEFT_SHIFT F  &kp G    &kp H      &tap_preferred LSHIFT J  &tap_preferred LEFT_CONTROL K  &tap_preferred LEFT_ALT L  &tap_preferred LEFT_GUI SEMICOLON
&tap_preferred_mo 4 GRAVE  &kp Z                      &kp X                      &kp C                          &kp V                        &kp B    &kp N      &kp M                    &kp COMMA                      &kp DOT                    &kp FSLH                           &kp APOS
                                                                                 &kp LEFT_COMMAND               &mo 2                        &mo 1    &kp SPACE  &tap_preferred_mo 2 TAB  &kp RIGHT_ALT
            >;
        };

        nav_num {
            bindings = <
       &none  &none  &none   &none   &none            &rgui_12_f12  &rgui_7_f7    &rgui_8_f8  &rgui_9_f9  &kp BACKSPACE
       &none  &none  &none   &none   &none            &rgui_11_f11  &rgui_4_f4    &rgui_5_f5  &rgui_6_f6  &kp PERIOD
&none  &none  &none  &none   &none   &kp RIGHT_GUI    &rgui_10_f10  &rgui_1_f1    &rgui_2_f2  &rgui_3_f3  &kp COMMA      &kp NON_US_BACKSLASH
                     &trans  &trans  &trans           &kp EQUAL     &kp NUMBER_0  &kp SLASH
            >;
        };

        nav_ {
            bindings = <
       &none     &kp PAGE_UP     &kp UP    &kp PAGE_DOWN  &none      &mkp MB5        &kp PAGE_UP     &mmv MOVE_UP    &kp PAGE_DOWN    &none
       &kp HOME  &kp LEFT_ARROW  &kp DOWN  &kp RIGHT      &kp END    &msc SCRL_LEFT  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_RIGHT
&none  &none     &none           &none     &none          &none      &mkp MB4        &msc SCRL_UP    &mkp MCLK       &msc SCRL_DOWN   &none            &none
                                 &trans    &trans         &trans     &none           &kp LEFT_SHIFT  &none
            >;
        };

        device {
            bindings = <
       &none       &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &none             &none    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
       &kp K_MUTE  &kp C_VOLUME_DOWN     &kp C_VOLUME_UP       &kp C_PLAY_PAUSE  &none    &none         &none         &none         &none         &none
&none  &none       &none                 &none                 &none             &none    &none         &none         &none         &none         &none         &bt BT_CLR
                                         &none                 &none             &none    &none         &none         &none
            >;
        };

        game {
            bindings = <
       &none  &none  &none  &none  &none    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
       &none  &none  &none  &none  &to 5    &none         &none         &none         &none         &none
&none  &none  &none  &none  &none  &none    &none         &none         &none         &none         &none         &bt BT_CLR
                     &none  &none  &none    &none         &none         &none
            >;
        };

        game_enter {
            bindings = <
       &none           &kp Q  &kp W  &kp E  &kp R    &none  &none  &none  &none  &none
       &kp LEFT_SHIFT  &kp A  &kp S  &kp D  &kp F    &none  &none  &none  &none  &none
&to 0  &kp Z           &kp X  &kp C  &kp V  &kp B    &none  &none  &none  &none  &none  &none
                              &none  &none  &none    &none  &none  &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        device {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
